<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/static/img/favicon.ico">
    <title>WeScheme</title>
    <meta http-equiv="refresh" content="10">
</head>

<body>
    {{ msg }} Click <a href="/">here</a> to return to the homepage.
</body>
</html>
