<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/static/img/favicon.ico">
    <title>WeScheme</title>
</head>

<body>
    {{ msg }} Click <a href="{{ url }}">here</a> to return to the {{ desc }}.
</body>
</html>
